.selectize-row-result{



}

  .selectize-row-result .label{



  }

  .selectize-row-result .caption{

    display: block;
    font-size: 11px;
    opacity: 0.7;

  }

  .selectize-row-result .userID{
    font-size: 10px;
    opacity: 0.7;
  }

  #add-user-group{
    min-height: 400px;
  }